{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block main %}

<div class="grid-container">
    <div class="item1">
         <img class="img-circle" src="{{ url_for("static", filename='mypicture2.jpg')}}" alt="Rushane's Picture" />
         <div class="center-space">
                <p> Rushane Barnes </p>
                
                <p> @rbarnes </p>

                <p> Portmore, Jamaica </p>

                <p> Joined June, 2018 </p>
        </div>
    </div>
    
    <div class="item2">
        <p> I grew up wanting to study Computer Science. As a young lad growing up, I was always fascinated by computers. 
            My current career objective is to be a Software Engineer. </p>
        
        
        
        
    </div>
    






</div>


{% endblock %}